<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--<hr>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <app-angular>-->
<!--        <app-button></app-button>-->
<!--      </app-angular>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-angular02>
        <app-button></app-button>
      </app-angular02>
    </div>
  </div>
</div>
